body {
    background-color: skyblue;
}

.button-container {
    border: skyblue 20px solid;
    max-width: 800px;  
    gap: 20px;
}

.display {
    background-color: white;
    border: skyblue 10px solid;
    border-radius: 20px;
    height: 100px;
    width: 400px;
}


button {
    background-color: aliceblue;
    margin: 20px 0 0 0;
    border-radius: 30px;
    color: slateblue;
    font-size: 38px;
    padding: 20px;
    width: 100px;
    height: 100px;
    margin-right: 40px;
    border: aliceblue 20px solid;
    overflow: hidden;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.945);
}

@media screen and ( max-width: 650px) {
    
    
}